@tailwind base;
@tailwind components;
@tailwind utilities;


/* html{
  display: flex;
  justify-content: center;
  background-color: #EDF2F4;
}


.body-container{
  max-width: 1600px;
} */

/* section{
  padding-top: 10rem;
} */
/* .bg-pallete-1{
  background-color: #2B2D42;

}

.bg-pallete-2{
  background-color: #8D99AE;
}

.bg-pallete-3{
  background-color: #EDF2F4;
}

.bg-pallete-4{
  background-color: #EF233C;
}

.bg-pallete-5{
  background-color: #D90429;
} */
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
